# Copy to .env and adjust. See README for variable descriptions.
# app_port=8080
# node_env=development
# MPMAP_OPENAIP_API_KEY=
# MPMAP_EXPOSE_OBS=
# MPMAP_DEBUG_WS=
# MPMAP_SHUTDOWN_MS=
# MPMAP_ALLOW_ANY_MPSERVER=
# MPMAP_MPSERVER_HOST_SUFFIXES=flightgear.org
# MPMAP_MPSERVER_MIN_PORT=5000
# MPMAP_MPSERVER_MAX_PORT=5999
