<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>__MPMAP_ERR_TITLE__</title>
    <style type="text/css">
      body {
        background: url(/assets/img/error.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color: white;
      }
      pre {
        opacity: 0.8;
        color: #000;
      }
    </style>
  </head>
  <body>
    <div class="container-fluid">
      <h1>Something has gone wrong.</h1>
      <h2>__MPMAP_ERR_MESSAGE__ (__MPMAP_ERR_STATUS__)</h2>
      __MPMAP_ERR_STACK__
    </div>
  </body>
</html>
