doctype html
html(lang="en")
	head
		title FlightGear &#x3BC; - The MultiPlayer Map
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1.0')
		meta(name='mobile-web-app-capable',content='yes')
		meta(name='apple-mobile-web-app-status-bar-style',content='black-translucent')
		meta(name='apple-mobile-web-app-title' content='FlightGear μ')
		link(rel="shortcut icon",href="images/MU_logo-196.png",sizes="196x196")
		link(rel="apple-touch-icon",href="images/MU_logo-196.png" sizes="196x196")
		meta(name='apple-mobile-web-app-capable',content='yes')
		link(rel="stylesheet",href="l/leaflet.css")
		link(rel="stylesheet",href="lmc/MarkerCluster.css")
		link(rel="stylesheet",href="lmc/MarkerCluster.Default.css")
		link(rel="stylesheet",href="L.Grid.css")
		link(rel="stylesheet",href="mpmap.css")
		link(rel="stylesheet",href="b/css/bootstrap.min.css")
		link(rel="stylesheet",href="fa/css/all.min.css")
		script(src="l/leaflet.js")
		script(src="lb/leaflet-bing-layer.min.js")
		script(src="lmc/leaflet.markercluster.js")
		script(src="lap/leaflet-ant-path.js")
		script(src="L.Grid.js")
		script(src="L.PilotList.js")
		script(src="L.Aircraft.js")
		script(src="L.MPAircraftLayer.js")
		script(src="j/jquery.min.js")
		script(src="jc/js.cookie.js")
		script(src="b/js/bootstrap.min.js")
		script(src="mpmap.js")

	body
		div.wrapper
			nav#sidebar.sidebarActivation
				h3 <img src="images/MU_logo.svg" style="height:1.5em;"> FlightGear
				div#accordion(role="tablist")
					div.card
						div.card-header(role="tab")#headingOne
							div.mb-0
								a(data-toggle="collapse",data-parent="#accordion",href="#collapseOne",aria-expanded="true",aria-controls="collapseOne").card-link
									span.fas.fa-plane
									span &nbsp;Aircraft List
								span.badge.badge-pill.badge-secondary.float-right(style="margin-top:0.2rem;",title="# of known stations")#aircraftCount 0
								span.fa.fa-ban.float-right(style="margin-top:0.2rem;",title="No connection to server")#disconnected
						div#collapseOne.collapse.show(data-parent="#accordion",role="tabpanel",aria-labelledby="headingOne",aria-expanded="true")
							div.card-block
								form
									div.form-group
										input(type="text",placeholder="Filter..").form-control.form-control-sm
									div.form-group
										ul.list-group#pilotsList
					div.card
						div.card-header(role="tab")#headingTwo
							div.mb-0
								a(data-toggle="collapse",data-parent="#accordion",href="#collapseTwo",aria-expanded="false",aria-controls="collapseTwo").card-link
									span.fas.fa-cog
									span &nbsp;Settings
						div#collapseTwo.collapse(data-parent="#accordion",role="tabpanel",aria-labelledby="headingTwo",aria-expanded="false")
							div.card-body
								form
									div.form-group
										select.form-control.form-control-sm#mpserverSelect
											option(value="one") 1
											option(value="two") 2
											option(value="three") 3
										small.form-text.text-muted Choose the server to query

									div.form-check
										input(type="checkbox").form-check-input#cookieCheck
										label(for="cookieCheck").form-check-label Remember Settings
										small.form-text.text-muted Check this to store settings and map state in a cookie


					div.card
						div.card-header(role="tab")#headingThree
							div.mb-0
								a(data-toggle="collapse",data-parent="#accordion",href="#collapseThree",aria-expanded="false",aria-controls="collapseThree").card-link
									span.fas.fa-info-circle
									span &nbsp;About
						div#collapseThree.collapse(data-parent="#accordion",role="tabpanel",aria-labelledby="headingThree",aria-expanded="false")
							div.card-body
								p
								| This is <a href="http://www.flightgear.org">FlightGear</a> μ (mju) aka mpmap.js, a multiplayer map based on node.js with
								| the <a href="https://github.com/t3r/mpmap.js">source code on github</a>.
								p
								| If you like this map and use it regularly (it looks like
								|
								span.font-weight-bold#nrOfClients 0
								|
								| users enjoy it at the moment), please consider donating
								| for the hosting and bandwidth costs. Donations also help operating the
								|
								a(href="https://scenery.flightgear.org",target="_blank") FlightGear scenemodels database.
								|
								| You can donate via paypal:
								<form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
								<input type="hidden" name="cmd" value="_s-xclick">
								<input type="hidden" name="hosted_button_id" value="SFNWWL7FTG34L">
								<input type="image" src="https://www.paypalobjects.com/de_DE/DE/i/btn/btn_donate_SM.gif" border="0" name="submit" alt="Jetzt einfach, schnell und sicher online bezahlen – mit PayPal.">
								<img alt="" border="0" src="https://www.paypalobjects.com/de_DE/i/scr/pixel.gif" width="1" height="1">
								</form>
								| or with liberapay:
								a(href="https://liberapay.com/t3r/",target="_blank")
										img(alt="Donate using Liberapay",src="https://liberapay.com/assets/widgets/donate.svg")
								|
			nav#content
				div#map
				button#sidebarCollapse.btn.btn-info.sidebarActivation(type="button")
