.acicon {
  width: 40px;
  height: 40px;
  background-image: url('icons.png');
  background-repeat: no-repeat;
}     
.acicon-a10-model {
  background-position: -2px -2px;
}
.acicon-atc2 {
  background-position: -46px -2px;
}
.acicon-atc {
  background-position: -90px -2px;
}
.acicon-blimp {
  background-position: -134px -2px;
}
.acicon-ch53e {
  background-position: -178px -2px;
}
.acicon-e3b {
  background-position: -222px -2px;
}
.acicon-fg_carrier {
  background-position: -266px -2px;
}
.acicon-fg_generic_craft {
  background-position: -310px -2px;
}
.acicon-glider {
  background-position: -354px -2px;
}
.acicon-heavyjet {
  background-position: -398px -2px;
}
.acicon-heavy {
  background-position: -2px -46px;
}
.acicon-heli {
  background-position: -46px -46px;
}
.acicon-kc135-model {
  background-position: -90px -46px;
}
.acicon-kc135 {
  background-position: -134px -46px;
}
.acicon-ov10 {
  background-position: -178px -46px;
}
.acicon-singleprop {
  background-position: -222px -46px;
}
.acicon-smalljet {
  background-position: -266px -46px;
}
.acicon-twinprop {
  background-position: -310px -46px;
}
.acicon-ufo {
  background-position: -354px -46px;
}
