html, body, #wrapper {
  width: 100%;
  height: 100%;
  border: 0;
  padding: 0;
  margin: 0;
}

.fg-aircraft-label {
  color: #00ff00;
  text-shadow: 1px 1px #404040;
  float: left;
  background: #ccc;
  opacity: .7;
  padding: 1px 5px 1px 5px;
  border: 1px solid gray;
  border-radius: 5px;
  font-size: 90%;
  white-space: nowrap;
}

.fg-pilot-list {
  clear: both;
}

.fg-pilot-list select {
  display: block;
  width: 100%;
  opacity: 0.6;
}

.fg-server-list select {
  text-align: left;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;  /*IMPORTANT*/
  font-size: 90%;
  cursor: pointer;
  outline: none;
  opacity:0.6;
}

.fg-server-list select::-ms-expand {display: none;} /*FOR IE*/

.fg-server-list select option {
  padding: 0.3em;
}

.fg-server-list select option[selected]{ font-weight:bold}

.fg-server-list select option:nth-child(even) { background-color:#f5f5f5; }

